
#navcon{
    background-color: black;
    color: white;

}
#navcon li{
    color:white
}

#jumbotron{
    background-color: lightgrey;
    width:84rem;
}

#card{
    margin:10px;

    
}
card img{
    max-width: fit-content;
}



/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
